.navbar {
    height: 4.04rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.75rem;
    background-color: var(--main-color);
    font-family: var(--roboto-font);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}



.navbar__buttons-front a {
    color: var(--main-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;  
    width: 100%;
    transition-duration: 300ms;
    transition-property: color, background-color;
}

    .navbar__buttons-front:hover a {
        color: var(--secondary-color);
        background-color: whitesmoke;
    }


.navbar__buttons-back {
    position: relative;
    margin-right: 4rem;
    transition-duration: 300ms;
    transition-property: transform;
}

    .navbar__buttons-back:hover {
        transform: scale(1.2);
    }

    .navbar__buttons-back a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--secondary-color);
    }

    .navbar__buttons-back img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: whitesmoke .1rem solid;
        z-index: 2;
    }

    .navbar__buttons-back span {
        background-color: whitesmoke;
        padding-left: .6rem;
        padding-right: .3rem;
        margin-left: -.6rem;
        padding-top: .3rem;
        padding-bottom: .3rem;
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }


@media (max-width: 770px) {
    .navbar__buttons-front {
        flex-grow: 20;
    }

        .navbar__buttons-front a{
            display: inline-block;
            padding: 1.2rem 0;
            text-align: center;
        }

    .navbar__buttons-back {
        margin-right: initial !important;
        flex-grow: 1;
    }
}

@media (max-width: 378px) {
    .navbar__buttons-back span {
        display: none;
    }
}