@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@100;500;900&display=swap');

:root {
    --main-color: #b4a4c3;
    --secondary-color: #303030;
    --roboto-font: 'Roboto', sans-serif;
    --number-font: 'Archivo Black', sans-serif;
}