
.waves .wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../assets/imgs/wave.svg');
    background-size: 1000px;
    animation: wave-animate 20s linear infinite; 
    z-index: -30;
}

    .waves .wave:nth-child(2n) {
        animation-duration: 15s;
        opacity: .5;
    }

    .waves .wave:nth-child(3n) {
        opacity: .3;
        animation-duration: 10s;
    }

@keyframes wave-animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@media (max-height: 500px) {
    .waves {
        display: none;
    }
}